@model coffee_shop.Models.ProdcutModel

@{
    ViewData["Title"] = "Product Form";
}
<h1>Product Form</h1><br />
<form asp-controller="Product" asp-action="ProductList" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row mb-3">
        <label for="ProductName" class="col-sm-2 col-form-label"><span class="text-danger">*</span>Product Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="ProductName" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label for="ProductPrice" class="col-sm-2 col-form-label"><span class="text-danger">*</span>Product
            Price</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="ProductPrice" />
            <span asp-validation-for="ProductPrice" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label for="ProductCode" class="col-sm-2 col-form-label"><span class="text-danger">*</span>Product Code</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="ProductCode" />
            <span asp-validation-for="ProductCode" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label for="Description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label for="UserID" class="col-sm-2 col-form-label"><span class="text-danger">*</span>User ID</label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="UserID"
                asp-items="@(new SelectList(ViewBag.Users, "UserID", "UserName"))">
                <option value="">Select User</option>
            </select>
            <span asp-validation-for="UserID" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-controller="Product" asp-action="ProductList" class="btn btn-secondary">Back</a>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}